.entry-content img, .comment-content img, .widget img {
    max-width:170%
}

.entry-content table, .comment-content table {
    margin:0;
}

/*  Products   */
td {
    border:none;
}

.table-seperator {
    padding-bottom:4px;
}

#product {
    width:100%;
}

#product.productBlock{
    width:100%;
    display:inline-block;
    padding:4px 0;
    height:auto;
}

#product .productImage {
    float:left;
}

#product .productContent {
    width:54%;
    float:right;
}

#product .productTitle {
    padding-bottom:5px;
    font-size:20px;
}

#product .productContent .productDescription {
    padding-bottom:5px;
    font-size:14px;
}

#product .productContent .productBrandMerchant {
    font-size:14px;
}

#product .productBrandMerchant .category {
	font-size:12px;
}

#product .clear {
	clear: both;
}

#product .allResults {
	display:block;
	padding-top:15px;
}

#product .productResults {
	width:100%;
	float:left;
	border:none;
}

#product .productResults tr {
	border-bottom:#ddd solid 1px;
}

#product .productResults td {
	text-align:center; 
	padding:4px 4px;
}

#coupon {
    width:100%;
}

#coupon .productBlock{
    width:100%;
    display:inline-block;
    padding:4px 0;
    height:auto;
}

#coupon .productImage {
    float:left;
}

#coupon .productContent {
    width:78%;
    float:right;
}

#coupon .productTitle {
    padding-bottom:5px;
    font-size:20px;
}

#coupon .productContent .productDescription {
    padding-bottom:5px;
    font-size:14px;
}

#coupon .productContent .productBrandMerchant {
    font-size:14px;
}

#coupon .productBrandMerchant .category {
	font-size:12px;
}

#coupon .clear {
	clear: both;
}

#coupon .allResults {
	display:block;
	padding-top:15px;
}

#coupon .productResults {
	width:100%;
	float:left;
	border:none;
}

#coupon .productResults tr {
	border-bottom:#ddd solid 1px;
}

#coupon .productResults td {
	text-align:center; 
	padding:4px 4px;
}

.simTitle {
	margin-top:30px;
	font-size:16px;
	font-weight:bold;
}

#simProd {
	padding:0 0.5em;
	border-top:2px solid #ddd;
}

#simProd ul {
	list-style:none; 
	margin:0; 
	padding:0;  
	display:inline; 
	text-align:left;
}

ul {
	margin:0;
	list-style:none;
}

#simProd li {
	list-style:none; 
	margin:0px;  
	font-size:12px;  
	display:inline;  
	height:210px;  
	float:left;  
	overflow:hidden;  
	padding:4px 0;
}

#simProd .listBlock {
	width:146px; 
	margin: 0 auto;
}

#simProd .prodImage {
	margin: 0 10px; 
	height:130px;
}

#simProd .prodImage img{
	background: none repeat scroll 0 0 transparent; 
	border: medium none;
}

#simProd .prodTitle {
	text-align:center;
	font-size:12px;
}

#simProd .prodPrice {
	font-size:12px;
	text-align:center;
}

#simCoup {
	padding:0 0.5em;
	border-top:2px solid #ddd;
}

#simCoup ul {
	list-style:none; 
	margin:0; 
	padding:0;  
	display:inline; 
	text-align:left;
}

#simCoup li {
	list-style:none; 
	margin:0px;  
	font-size:11px;  
	display:inline;  
	height:144px;  
	float:left;  
	overflow:hidden;  
	padding:4px 0;
}

#simCoup .listBlock {
	width:146px; 
	margin: 0 auto;
}

#simCoup .prodImage {
	margin: 0 10px; 
	height:70px;
}

#simCoup .prodImage img{
	background: none repeat scroll 0 0 transparent; 
	border: medium none;
}

#simCoup .prodTitle {
	text-align:center;
	font-size:12px;
}

#simCoup .prodPrice {
	font-size:12px;
	text-align:center;
}


#product .productEnd .productPriceNoSale {
    padding-bottom:15px;
}

#product .productEnd .productPrice {
    padding-bottom:3px;
}

#product .productEnd .productPriceSale {
    padding-bottom:15px;
}

#product .productPriceSale  {
    color:#cc6600;
}

#product .productBrandMerchant  .prodBrand {
    padding-right:6px;
	font-size:13px;
    display:inline-block;
}

#product .productBrandMerchant  .prodPrice {
    padding-right:6px;
	padding-top:4px;
    display:inline-block;

}

@media all and (max-width:400px) {
    #product .productBlock {
        border-bottom:1px solid #EDEDED;
        display:inline-block;
        width:100%;
    }

	#coupon .productContent {
        width:100%;
        float:left;
    }
	
    #product .productImage {
        width:135px;
        float:left;
    }

    #product .productContent {
        width:100%;
        float:right;
        display:block;
    }

    .productEnd .productPrice {
        display:none;
    }

    .productPrice  {
        text-decoration: line-through;
    }

    .productEnd .visitImg {
        float:right;
        height:40px;
    }

    .productEnd .productPriceSale {
        padding-bottom:0;
        padding-top:6px;
        display:inline-block;
    }

    .productContent .productDescription {
        padding-bottom:2px;
        font-size:12px;
    }

    #couponList .couponContent {
        width:100%;
        float:right;
    }
}

@media all and (max-width:700px) and (min-width:420px) {
    #coupon .productContent {
        width:64%;
        float:left;
    }

    .productContent .productDescription {
        padding-bottom:2px;
        font-size:12px;
    }

    #product .productBlock {
        border-bottom:1px solid #EDEDED;
        display:inline-block;
        width:100%;
    }

    #product .productImage {
        width:135px;
        float:left;
    }

    #product .productEnd {
        width:120px;
        font-size:14px;
        float:left;
        padding-bottom:4px;
    }

    #product .productContent {
        width:60%;
        float:right;
    }

    .productEnd .productPriceNoSale {
        padding-bottom:5px;
    }

    .productEnd .productPrice {
        float:left;
        padding-bottom:3px;
    }

    .productPrice  {
        text-decoration: line-through;
    }

    .productEnd .productPriceSale {
        float:right;
        padding:0;
    }
}

@media all and (max-width:700px) and (min-width:580px) {
    #product .productContent {
        width:68%;
        padding-bottom:36px;
        float:right;
    }

    #coupon .productContent {
        width:68%;
        float:left;
    }
}

@media all and (max-width:800px) and (min-width:760px) {
    #product .productContent {
        width:100%;
        float:left;
    }
}

@media all and (max-width:840px) and (min-width:800px) {
    #product .productContent {
        width:44%;
        float:left;
    }
}

@media all and (max-width:920px) and (min-width:840px) {
    #product .productContent {
        width:48%;
        float:left;
    }
}

@media all and (max-width:1024px) and (min-width:920px) {
    #product .productContent {
        width:52%;
        float:left;
    }
}
